<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body class="home-template">
        <header class="notepad-site-head">
            {% include header.html %}
        </header>


        <main class="notepad-content" role="main">

        <div class="wrap-videos">
            <embed width="400" height="315" src="//www.youtube.com/embed/4oHw6LcViMI">
            <embed width="400" height="315" src="//www.youtube.com/embed/5M9iFmMqcmc">
            <embed width="400" height="315" src="//www.youtube.com/embed/QeFqUjSD7Jw">
        </div>
        
            {{ content }}
            {% include footer.html %}
        </main>
        {% include scripts.html %}  
    </body>
</html>