<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <header class="notepad-site-head">
      {% include header.html %}
    </header>
    
    <div class="layout">
    <main class="notepad-content" role="main">

      {{ content }}

      <div class="row wrap-videos">
        <div class = "video"><embed src="//www.youtube.com/embed/4oHw6LcViMI"></div>
        <div class = "video"><embed src="//www.youtube.com/embed/5M9iFmMqcmc"></div>
        <div class = "video"><embed src="//www.youtube.com/embed/QeFqUjSD7Jw"></div>
      </div>
      </div>
      {% include footer.html %}
    </main>

    {% include scripts.html %}
  </body>
</html>
